<form method="post" action="{{ path('appointment_delete', {'appointmentid': appointment.appointmentid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appointment.appointmentid) }}">
    <button class="btn">Delete</button>
</form>